body{
  background-color:#EAF6F6;

}

img :hover{
  border: solid;


}
img{
  height: 150px;
  width: 150px;
}


.profile{
 border-radius: 50%;

}


hr{
  border-style: dotted none none;
  width: 5%;
  border-width: 5px;
  border-color: grey;
  }

h1 ,h3{
  color: #66BFBF;
}
